<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>117694919344-kkmij8q38hmoa7occ8u1dqogjh7t64kt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.117694919344-kkmij8q38hmoa7occ8u1dqogjh7t64kt</string>
	<key>API_KEY</key>
	<string>AIzaSyC_n7QG88znfBkXRUqOvaANgRQGutlXzJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>117694919344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopMe</string>
	<key>PROJECT_ID</key>
	<string>shop-me-710ab</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-me-710ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:117694919344:ios:508448ff45871e7ea0c175</string>
</dict>
</plist>